md-block:not([rendered]) {
    visibility: hidden;
}

/* Once rendered, make it visible */
md-block[rendered] {
    visibility: visible;
}

md-block hr {
    border: none;
    text-align: center;
    margin: 2.5rem !important;
    padding: 0;
}

md-block hr::before {
    content: "• • •";
    font-size: x-large;
    letter-spacing: 0.6rem;
    color: var(--text-color-secondary);
}

md-block img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    width: 100%;
    margin-top: 0.25rem;
    animation: fadeIn 1s ease-in-out;
}

md-block .img-medium {
    margin: 0 auto;
    max-width: 80%;
    text-align: center;
}

md-block .img-medium img {
    width: 100%;
    height: auto;
}

md-block .img-small {
    margin: 0 auto;
    max-width: 65%;
    text-align: center;
}

md-block .img-small img {
    width: 100%;
    height: auto;
}

md-block .img-x-small {
    margin: 0 auto;
    max-width: 50%;
    text-align: center;
}

md-block .img-x-small img {
    width: 100%;
    height: auto;
}

md-block .img-xx-small {
    margin: 0 auto;
    max-width: 40%;
    text-align: center;
}

md-block .img-xx-small img {
    width: 100%;
    height: auto;
}

md-block .img-do-not-scale img {
    width: initial !important;
    height: auto;
}

md-block .img-caption {
    font-size: x-small !important;
    color: var(--text-color);
    text-align: center;
    display: block;
    margin: 0;
    margin-top: 0.25rem;
    text-transform: capitalize
}

md-block a {
    color: var(--link-color);
    text-decoration: none;
}

md-block .md-block-code-block-container pre {
    margin: 0;
    padding: 1rem;
}

md-block .md-block-code-block-container {
    border: 1px solid var(--border-color);
    border-radius: 6px;
    overflow: hidden;
    margin-top: 0.5rem;
}

md-block .md-block-code-block-container-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;
    background-color: var(--bg-color);
    border-bottom: 1px solid var(--border-color)
}

md-block .md-block-code-block-language-label {
    font-size: 0.9em;
    color: var(--text-color);
    text-transform: lowercase;
}

md-block .md-block-code-block-container-copy-button span {
    margin-left: 0.25rem;
}

md-block .md-block-code-block-container-copy-button {
    display: flex;
    align-items: center;
    background: transparent;
    border: none;
    cursor: pointer;
    color: var(--text-color-secondary);
    font-size: 0.9em;
}

md-block .md-block-code-block-container-copy-button:hover {
    color: var(--text-color);
}

@media (max-width: 768px) {
    md-block .img-medium:not(.mobile-img-medium) {
        max-width: 100%;
    }

    md-block .img-small:not(.mobile-img-smal) {
        max-width: 100%;
    }

    md-block .img-x-small:not(.mobile-img-x-small) {
        max-width: 100%;
    }

    md-block .img-xx-small:not(.mobile-img-xx-small) {
        max-width: 100%;
    }
}