#footer {
    background-color: var(--footer-bg);
    padding: 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    flex-shrink: 0;
}

#footer a {
    color: var(--link-color);
    text-decoration: none;
}

#footer a:hover {
    text-decoration: underline;
}

#footer-left {
    text-align: left;
}

#footer-left .social-media-icon-link-text {
    display: inline;
}

#footer-middle {
    text-align: center;
}

#footer-right {
    text-align: right;
}

#footer-report-bug {
    color: var(--link-color);
    cursor: pointer;
}

#footer-report-bug:hover {
    animation: shake 0.2s ease-in-out;
}

@media (max-width: 768px) {
    #footer-left .social-media-icon-link-text {
        display: none !important;
    }
}

@keyframes shake {

    0%,
    100% {
        transform: translateX(0);
    }

    25% {
        transform: translateX(-5px);
    }

    50% {
        transform: translateX(5px);
    }

    75% {
        transform: translateX(-5px);
    }
}